#photo3{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#photo1{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#photo2{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#ph1:checked ~ #photo1{
    opacity: 1;
}
#ph2:checked ~ #photo2{
    opacity: 1;
}
#ph3:checked ~ #photo3{
    opacity: 1;
}
.placeforphoto1{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanchj-15-rose-00161.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto2{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanchj-15-rose-00162.jpg?scale.height=300g) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto3{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanch-11-00028.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto11{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2826/16ab8bbd469a1d4287e01cf85ed6067de6dedbf0.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto22{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2826/fc5e6977836cc90e18970e2de5a701abb4dce364.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto33{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2826/9e34bbcaae04280998827bdef2fbbe0ce2159a29.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto111{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1362/rose-pink-athena-25-red-fer-5294.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto222{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1362/rose-pink-athena-25-redfer-5295.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto333{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1362/rose-pink-athena-25-redfer-5296.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto1111{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1813/x6a827b32ec2ef0f7f4e32fd4ffcd6bed99598ad1.jpg,qscale.height=300.pagespeed.ic.rKJSRBMwwt.webp) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto2222{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1813/9e2bd2b383592184c59f536582825d3742ae228b.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto3333{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1813/ab8f2a146b51c360d3a892b638498b34a9c2b3d4.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto11111{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2837/bc14d3b60f08546377bba9652a9a99acc73e9fa9.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto22222{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2837/ca44ac81b945450d862fd5b750a5903e5c910fe6.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto33333{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2837/902d93cb2d9d1f97586b181a4a75863b799bb824.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto111111{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1817/df42a8d7180a44ca9b195671112f944d9eff0059.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto222222{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1817/0a00ff7e6140c22b869b497d788e4583caa55ad7.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto333333{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1817/16e09e22280e7556e8703d6ba0e600fb3a979915.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto1111111{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2820/7fd17f4f6e6d9f9c5542e3fe42f0efb20268669b.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto2222222{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2820/040d7671a4dee55a08664472af343dd2034dd03b.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto3333333{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/2820/c1f0f5652e7d2e2dde238e8e7e73b95d8342fb8f.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto1:hover, .placeforphoto2:hover, .placeforphoto3:hover{
    transform: scale(1.1);
}
.placeforphoto11:hover, .placeforphoto22:hover, .placeforphoto33:hover{
    transform: scale(1.1);
}
.placeforphoto111:hover, .placeforphoto222:hover, .placeforphoto333:hover{
    transform: scale(1.1);
}
.placeforphoto1111:hover, .placeforphoto2222:hover, .placeforphoto3333:hover{
    transform: scale(1.1);
}
.placeforphoto11111:hover, .placeforphoto22222:hover, .placeforphoto33333:hover{
    transform: scale(1.1);
}
.placeforphoto111111:hover, .placeforphoto222222:hover, .placeforphoto333333:hover{
    transform: scale(1.1);
}
.placeforphoto1111111:hover, .placeforphoto2222222:hover, .placeforphoto3333333:hover{
    transform: scale(1.1);
}

.side-panel-input[type="radio"]:checked+label {
    filter: grayscale(0%);
}
.side-panel-input[type="radio"]+label {
    filter: grayscale(100%);
}