#photo3{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#photo1{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#photo2{
    position: absolute;
    left: 260px;
    top: 350px;
    opacity: 0;
    transition: 300ms;
}
#ph1:checked ~ #photo1{
    opacity: 1;
}
#ph2:checked ~ #photo2{
    opacity: 1;
}
#ph3:checked ~ #photo3{
    opacity: 1;
}
.placeforphoto1{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanchj-15-rose-00161.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto2{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanchj-15-rose-00162.jpg?scale.height=300g) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto3{
    height: 20vh;
    width: 10vw;
    margin-left: 1vw;
    background: url(https://dicentra.ua/assets/images/products/1809/fer-15-01-22-avalanch-11-00028.jpg?scale.height=300) center no-repeat;
    background-size: cover;
    transition: 200ms;
}
.placeforphoto1:hover, .placeforphoto2:hover, .placeforphoto3:hover{
    transform: scale(1.1);
}

.side-panel-input[type="radio"]:checked+label {
    filter: grayscale(0%);
}
.side-panel-input[type="radio"]+label {
    filter: grayscale(100%);
}